<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9JYCH1N6uh7g2zd8xOSgOUMN2GWcIGXA</string>
	<key>GCM_SENDER_ID</key>
	<string>792152744175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>auth-ed573</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-ed573.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792152744175:ios:72d1656e11addfef8d3b1a</string>
</dict>
</plist>